body {
    background-color: black;
    color: azure;
}
button{
    color:purple;
}

a {
    color: azure;
}

.logoheader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh
}

.logoheader img {
    width: 700px;
}

::placeholder {
    color: white;
}

.buscar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    background-color: purple;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.menu nav li {
    padding: 15px;
    width: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
}



nav ul li a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

footer img {
    width: 200px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-size: 10;
    margin-top: 3%;
}
.minuscula{
    font-family: 'Nunito', sans-serif;
    color:grey;
    font-size: 10px;
    

}


.indexhtml {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    width: 30%;
}

.title img {
    width: 100%;
    height: 660px;
}

.title h2 {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 250%;
    text-align: center;
}

.title p {
    font-size: 17px;
    text-align: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-family: 'Bebas Neue', cursive;
    width: 374px;
    height: 58px;
}

.item a {
    font-size: 17px;
}

.item img {
    width: 40px;
    height: auto;
}

.titlehtml {
    font-family: Bebas Neue, cursive;
    font-size: 300%;
}


.title-song {
    font-family: Rubik Wet Paint, cursive;
    font-size: 250%;
}

.songdata {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

.infosong {
    margin-left: 10px;
    padding-left: 10px;
}

.infosong a {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.songs img {
    justify-content: flex-start;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    padding: 2 10px;
    border: solid #ddd;
    background-color: grey;
    width: 300px;
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.fa-heart-circle-plus::before {
    content: "";
    align-items: center;
    size: 200%;
}

.player {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid #ddd;
    border-radius: 360px;
    margin-top: 3%;
    width: 300px;
    height: 100px;
    justify-content: space-evenly;
    margin-left: 35%;
}

.verfavorites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    align-items: center;
    padding: 2 10px;
    border: solid #ddd;
    background-color: grey;
    width: 300px;
    height: 100px;
    font-size: 200%;
    font-family: Bebas Neue, cursive;
    border-radius: 360px;
}


.title-album {
    font-family: Rubik Wet Paint, cursive;
    font-size: 250%;
}

.albumdata img {
    width: 330px;
    height: 440px;
}

.albumdata {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

.infoalbum a {
    font-family: Bebas neue, cursive;
    font-size: 200%;
}

.infoalbum {
    margin-left: 10px;
    padding-left: 10px;
}

.sub-title {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.songsbad img {
    width: 390px;
    margin-top: 3%;
}

.cancion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-family: 'Bebas Neue', cursive;
    width: 374px;
    height: 58px;
    margin-top: 1%;
}


.title-artist {
    font-family: Rubik Wet Paint, cursive;
    font-size: 250%;
}

.artistdata {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

.artistdata img {
    width: 380px;
    height: 440px;
    margin-top: 3%;
}

.infoartist {
    margin-left: 10px;
    padding-left: 10px;
}

.infoartist a {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.songstrack a {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.songstrack p {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.spotifytoptracks {
    margin-top: 3%;
}


.titleplaylist {
    font-size: 100px;
    font-family: Bebas Neue, cursive;
    width: 390px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
}

.title-playlist {
    font-family: Rubik Wet Paint, cursive;
    font-size: 250%;
}

.playlisthtml {
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.favtrack {
    display: flex;
    border: 1px solid #ddd;
    width: 25;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}


.title-genre {
    font-family: Rubik Wet Paint, cursive;
    font-size: 250%;
}

.genreshtml {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    align-self: center;
}

.genreshtml img {
    width: 380px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.favgenre a {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.favgenre p {
    font-family: Bebas Neue, cursive;
    font-size: 200%;
}

.favgenre {
    display: flex;
    border: 1px solid #ddd;
    width: 25;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}


.title-detallegre {
    font-family: Rubik wet paint, cursive;
    font-size: 50px;
}

.regguetonartists-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5 10px;
    font-family: 'Bebas Neue', cursive;
    width: 374px;
    height: 58px;
    margin-top: 10px;
}

.regguetonartists img {
    width: 45px;
    height: auto;
    align-items: center
}

.regguetonartists-name a {
    font-family: Bebas Neue, cursive;
    font-size: 150%;
    align-items: center;
}

.regguetonartists-name p {
    font-family: Bebas Neue, cursive;
    font-size: 150%;
    align-items: center
}


.busquedafoto img {
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 25%;
}

.busquedahtml a {
    font-family: Rubik Wet Paint, cursive;
    font-size: 200%;
    align-items: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}

.busquedahtml ul {
    font-family: Bebas Neue, cursive;
    font-size: 150%;
    justify-content: space-between;
}

.busquedahtml {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.busquedahtml1 ul {
    font-family: Bebas Neue, cursive;
    font-size: 150%;
    justify-content: space-between;
}

.busquedahtml1 h2 {
    font-family: Bebas Neue, cursive;
}


@media(max-width:460px) {
    .indexhtml {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        width: 95%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: grey;
        font-size: 10;
        margin-top: 3%;
    }

    .buscar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: end;
        background-color: purple;

    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
    }

    .menu nav li {
        padding: 15px;
        width: 100px;
        background-color: purple;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    nav ul li a {
        text-decoration: none;
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
    }

    .busquedafoto img {
        width: 70%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 0%;
    }

    .busquedafoto {
        text-align: center;
    }







}